/*
  Hi! This sheet holds all the styling of CCES website, some of the selectors are supported with documentation
  and others are not (straight forward).

  This file will be later minimized and added to the index.html page to boost up the performance.
*/

/* latin-ext */
@font-face {
  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  src: local('Homenaje'), local('Homenaje-Regular'), url(http://fonts.gstatic.com/s/homenaje/v5/Y8QtCuJsZSOOHCb64ohY0BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  src: local('Homenaje'), local('Homenaje-Regular'), url(http://fonts.gstatic.com/s/homenaje/v5/4S5MkF9F4U5BChzwjsyu0vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.blackbg
{
    background: black;
}
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
       color: black;
}

.light-gray-bg
{
    background: black;
}


/* The colors bar style */


/* Large desktops and laptops */
@media (min-width: 1200px) {
    .v-margin {
        margin-top: 15px;
    }

    .vcenter {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .v-margin {
        margin-top: 15px;
    }

    .vcenter {
      display: flex;
      align-items: center;
      justify-content: center;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .chart-placeholderfile {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .chart-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .chart-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}





/* Custom styles */
.img-circle {
    display: inline-block;
    /*width: 25%;*/
    width: 150px;
    height: 150px;
}




.navbar {
      height: 70px;
      margin-bottom: 0;
      background-color: black;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
      /*nav text color*/
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
      height: 60px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #B0C4DE !important;
      background-color: transparent !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

.chart-placeholder {
    height: 500px;
    margin-bottom: 15px;
    color: gray;
}

table {
    border-collapse:separate;
    border-spacing:1.5em;
}

p, li {
    line-height: 2em;
    font-size: 1.3em;
    color: gainsboro;
    font-family: 'Homenaje';
    
}

.no-lh {
    line-height: 1.2em;
}

.pg-empty-placeholder {
    font-size: 0.8em;
}

.pg-empty-placeholder b {
    font-size: 1.9em;
}

ul {
    list-style: none;
}

#local-nav {
    color: lightgray;
    cursor: pointer;
}

#local-nav li:hover {
    font-weight: bold;
    color: gray;
}

#local-nav .active {
    font-weight: bold;
}

.bread-crumb {
    color: gray;
    font-size: 18px;
    margin-bottom: 20px;
}

.range-slider {
    margin-top: 45px;
    display: -webkit-box;
}


.navbar-brand {
    font-weight: bold;
}

.summary-div {
    padding: 50px;
}

.no-link {
    cursor: default;
}

.no-link:hover {
    color: lightgray !important;
}

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background: black;
}

.hamburger {
    background-color: transparent !important;
}

.hamburger:hover {
    background-color: transparent !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: white !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: transparent;
border: none;
}



/* Search Input */
#search {
    height: 30px;
    color: black;
    padding-left: 3px;
    border: none;
}

#search-form {
    padding-top: 10px;
    padding-right: 10px;
}






/* Common styles, most of them are not used but written for future usage */
.white-text {
  color: white;
}

.theme-bg
{
background: black;
    color: darkgray;
    font-family: 'Homenaje';
    margin-bottom: -10px;
    margin-top: 40px;
    
    
}
.center-text {
  text-align: center;
}

.vcenter-item {
  max-width: 50%;
}

.vcenter-item--top {
  align-self: flex-start;
}

.vcenter-item--bottom {
  align-self: flex-end;
}

.r-float {
  float: right;
  padding-right: 15px;
}

.l-float {
  float: left;
  padding-left: 15px;

}

.full-width {
    width: 100%;
}

.v-margin-1 {
  margin-top: 10px;
}

.v-margin-2 {
  margin-top: 25px;
}

.v-margin-3 {
  margin-top: 50px;
}

.v-margin-4 {
  margin-top: 100px;
}

.v-margin-5 {
  margin-top: 150px;
}

.l-padding-off {
  padding-left: 0;
}

.r-padding-off {
  padding-right: 0;
}

.padding-off {
  padding-top: 10px;
}

/*from home */
 .jumbotron {
      background-color: #B0C4DE;
      color: #fff;
      padding: 40px 25px;
      font-family: Montserrat, sans-serif;
  }
#logo {
     height:40px;
     width:80px;
  }